@model Wedding

<h1>@Model.Bride and @Model.Groom's Wedding</h1>
<hr>
<h4><strong>Date:</strong> @Model.Date.ToString("d")</h4>
<h4><strong>Address:</strong> @Model.Address</h4>
<h4><strong>Guests:</strong></h4>
@foreach (var rsvp in @Model.Responses)
{
    <p>@rsvp.Guest.FullName</p>
}